# OpenAI API 키
# https://openai.com/ko-KR/api/
OPENAI_API_KEY=your_openai_api_key

# 네이버 뉴스 API 키
# https://developers.naver.com/main/
NAVER_CLIENT_ID=your_naver_client_id_key
NAVER_CLIENT_SECRET=your_naver_client_secret_key
